@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { box-sizing: border-box; }


.effect-airbnb{
	-webkit-transition: all .4s ease;
	        transition: all .4s ease;
}

.effect-airbnb.animate{
	background: #388E3C none repeat scroll 0% 0% !important;
}

body {
	background: #444444;
	color: #5a5350;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-x: hidden;
	cursor: auto;
}

.preload{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
}

.animate-hide {
  -webkit-transition: all ease 1.5s;
          transition: all ease 1.5s;
  opacity: 1;
  filter: alpha(opacity=100);
}

.animate-hide.ng-hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
    filter: alpha(opacity=0);
}
.fade.ng-enter-active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.fade.ng-leave {
    opacity: 1;
    filter: alpha(opacity=100);
}
.fade.ng-leave-active {
    opacity: 0;
    filter: alpha(opacity=0);
}

.preload img{
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

svg{
	width: 100px;
}

.power_block{
	margin-bottom: 50px;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

a:hover, a:focus {
	color: #e86a32;
	outline: none;
}

.text-center{
	text-align: center !important;
}

.text-small{
	font-size: 1em !important;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.io-header,
.io-top {
	font-family: 'Lato', Arial, sans-serif;
}

.io-header {
	margin: 0 auto 3em;
	padding: 3em;
	padding-bottom: 0em !important;
	text-align: center;
}

.io-header img{
	border-radius: 100%;
	-moz-border-radius:100%;
	width: 250px;
	height: 250px;
	border:8px solid #388E3C;
	margin-bottom: -1.7em;
}

.io-header img h1{
	margin:0 !important;
}

.io-header h1 {
	margin: 0;
	margin-top:.8em;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.io-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
.io-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 700;
	background: rgba(255,255,255,0.3);
}

.io-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.io-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.io-top span.right {
	float: right;
}

.io-top span.right a {
	display: block;
	float: left;
}

.io-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'ioicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.io-icon-drop:before {
	content: "\e001";
}

.io-icon-prev:before {
	content: "\e004";
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

/*.wrapper{
	background-image: url('../img/bg.jpg');
	background-size: cover;
}*/

.main .title{
	text-align: center;
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}
@media screen and (max-width: 46.0625em){
	.center-vert {
	}	
}

.center-vert {
	text-align: right !important;
	margin: 25% auto auto !important;
}

.main .title .social{
	text-decoration: underline;
	color: #388E3C;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 1.9em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

.works {
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 70%;
}

.column .school_logo{
	border-radius: 100%;
	margin:auto;
	width: 150px;
	height:150px;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #a9a9a9;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
}

@media screen and (max-width: 46.0625em) {
	.center-vert{
		margin: auto !important;
		text-align: center !important;
	}
	.io-header {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

	.column {
		width: 100%;
		min-width: auto;
		min-height: 0;
		padding: 2em; 
		text-align: center;
	}

	.column p {
		font-size: 1.4em;
	}


	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.io-header {
		font-size: 80%;
	}

	.io-top {
		font-size: 120%;
	}

	.io-icon span {
		display: none;
	}

}

.outer-nav > a{
	cursor: pointer;
}

.menu__handle {
    background: transparent;
    border: medium none;
    width: 30px;
    height: 24px;
    padding: 0px;
    outline: medium none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2000;
}

.menu__handle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    overflow: hidden;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s ease 0s;
            transition: opacity 0.25s ease 0s;
}

.menu__handle:before {
    -webkit-transform: translate3d(0px, -10px, 0px);
            transform: translate3d(0px, -10px, 0px);
}

.menu__handle:after {
    -webkit-transform: translate3d(0px, 10px, 0px);
            transform: translate3d(0px, 10px, 0px);
}

.menu__handle::before, .menu__handle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
    top: 50%;
    -webkit-transform-origin: 50% 50% 0px;
            transform-origin: 50% 50% 0px;
    transition: -webkit-transform 0.25s ease 0s;
    transition: transform 0.25s ease 0s;
}

.menu__handle::before, .menu__handle::after, .menu__handle span {
    background: #5F656F none repeat scroll 0% 0%;
}
