{% load staticfiles %}
<div class="container">
    <div class="wrapper "><!-- wrapper needed for scroll -->
        <header class="io-header">
            <h1>My Experiences<span>Warning! May contain myself!</span></h1>   
        </header>
        <button class="menu__handle" id="showMenu" ng-click="menuclick()"><span>Menu</span></button>
        <div class="main clearfix">
            <div class="column">
                <h1 class="title center-vert">
                    <a href="https://channelfix.com/" rel="noopener">@
                        <img src="{% static 'img/cf.png'%}" alt="ChannelFix logo/>
                    </a>
                </h1>
            </div>
            <div class="column">
                <p>
                    <small>
                        I was a full-stack developer and a team lead in Channelfix. The working environment is Excellent. <b>"Food Everywhere"</b> and its <b>FREE</b>. There where many OJT takers coming from UP so I was teamed up with most if them which I was very greatful. :)
                    </small>
                </p>
            </div>
        </div><!-- /main -->
    </div><!-- wrapper -->
</div><!-- /container -->