<!DOCTYPE html>
  <html>
    <head>
    	<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Jc Din's Portfolio</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "css/sweetalert.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/google.cs" %}">
    </head>
    	<center>
    		<h3>Comming Soon!</h3>
    	</center>
    <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static "js/sweetalert.js" %}"></script>
    </body>
  </html>
