<div class="container">
    <div class="wrapper"><!-- wrapper needed for scroll -->
        <header class="io-header">
            {% load staticfiles %}
            <img src="{% static 'img/me.jpg' %}" alt="Jc Din's Picture">
            <h1>Jc Din<span>a Software and Web Developer </span></h1>   
        </header>
        <button class="menu__handle" id="showMenu" ng-click="menuclick($event)"><span>Menu</span></button>
        <div class="main clearfix">
            <div class="column">
                <p>Currently an IT student of Cebu Institute of Technology - University.</p>
            </div>
            <div class="column">
                <img class="school_logo" src="{% static 'img/school.jpg' %}" alt="Cebu Instite of Technology - University Logo">
            </div>
        </div><!-- /main -->
        <div class="main clearfix">
            <h1 class="title">
                <a class="social" href="https://www.facebook.com/Oz.Python" rel="noopener">Need Me? Reach Me!</a>
            </h1>
        </div>
    </div><!-- wrapper -->
</div><!-- /container -->