<div class="container">
    <div class="wrapper"><!-- wrapper needed for scroll -->
        <header class="io-header">
            <h1>Jc Din <span>a Dev Ops and Full-Stack Developer </span></h1>   
        </header>
        <button class="menu__handle" id="showMenu" ng-click="menuclick($event)"><span>Menu</span></button>
        <div class="main clearfix">
            <div class="column">
                <p>Profile to be plotted</p>
            </div>
        </div><!-- /main -->
    </div><!-- wrapper -->
</div><!-- /container -->