<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="app">
    <head>
        <base href="/testing/">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>My Portfolio | Jc Din</title>
        <meta name="description" content="This is Jc Din's portfolio" />
        <meta name="keywords" content="jc din, jc portfolio" />
        <meta name="author" content="Jc Din" />
        <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
        <script src="{% static 'js/modernizr.custom.25376.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    </head>
    <body>
        <div id="perspective" class="perspective effect-airbnb" ng-controller="AppCtrl">
            <div ng-view class="view-animate container" onload='loader()' ng-click="ngViewClickEvent()">
            </div>
            {% verbatim %}
            <nav class="outer-nav left vertical"><!-- menu -->
                <a ng-repeat="menu in menus" class="{{ menu.icon }}" ng-click="close_menu($index)">
                    {{ menu.title }}
                </a>
            </nav><!-- /menu -->
            {% endverbatim %}
        </div><!-- /perspective -->
        <script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.4.7/angular-animate.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/classie.js' %}"></script>
    </body>
</html>