<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>My Portfolio | Jc Din</title>
        <meta name="description" content="This is Jc Din's portfolio" />
        <meta name="keywords" content="jc din, jc portfolio" />
        <meta name="author" content="Jc Din" />
        <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
        <script src="{% static 'js/modernizr.custom.25376.js' %}"></script>
    </head>
    <body>
        <div id="perspective" class="perspective effect-airbnb">
            <div class="container">
                <div class="wrapper"><!-- wrapper needed for scroll -->
                    <header class="io-header">
                        <h1>Perspective Page View Navigation <span>Transforms the page in 3D to reveal a menu</span></h1>   
                    </header>
                    <div class="main clearfix">
                        <div class="column">
                            <p><button id="showMenu">Show Menu</button></p>
                            <p>Click on this button to see the content being pushed away in 3D to reveal a navigation or other items.</p>
                        </div>
                        <div class="column">
                            <nav class="io-demos">
                                <a href="index.html" class="current-demo">Airbnb Effect</a>
                                <a href="index2.html">Move Left</a>
                                <a href="index3.html">Rotate Left</a>
                                <a href="index4.html">Move Down</a>
                                <a href="index5.html">Rotate Top</a>
                                <a href="index6.html">Lay Down</a>
                            </nav>
                        </div>
                        <div class="related">
                            <p>If you enjoyed this demo you might also like:</p>
                            <p><a href="http://tympanus.net/Tutorials/AnimatedBorderMenus/">Animated Border Menus</a></p>
                            <p><a href="http://tympanus.net/Development/SidebarTransitions/">Transitions for Off-Canvas Navigations</a></p>
                        </div>
                    </div><!-- /main -->
                </div><!-- wrapper -->
            </div><!-- /container -->
            <nav class="outer-nav left vertical">
                <a href="#" class="icon-home">Home</a>
                <a href="#" class="icon-news">News</a>
                <a href="#" class="icon-image">Images</a>
                <a href="#" class="icon-upload">Uploads</a>
                <a href="#" class="icon-star">Favorites</a>
                <a href="#" class="icon-mail">Messages</a>
                <a href="#" class="icon-lock">Security</a>
            </nav>
        </div><!-- /perspective -->
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/menu.js' %}"></script>
    </body>
</html>