<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <title>My Portfolio | Jc Din</title>
        <meta name="description" content="This is Jc Din's portfolio" />
        <meta name="keywords" content="jc din, jc portfolio" />
        <meta name="author" content="Jc Din" />
        <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
        <script src="{% static 'js/modernizr.custom.25376.js' %}"></script>
    </head>
    <body>
        <div id="perspective" class="perspective effect-airbnb">
            <div class="container">
                <div class="wrapper"><!-- wrapper needed for scroll -->
                    <header class="io-header">
                        <h1>Perspective Page View Navigation <span>Transforms the page in 3D to reveal a menu</span></h1>   
                    </header>
                    <button class="menu__handle" id="showMenu"><span>Menu</span></button>
                    <div class="main clearfix">
                        <div class="column">
                            <p>Click on this button to see the content being pushed away in 3D to reveal a navigation or other items.</p>
                        </div>
                    </div><!-- /main -->
                </div><!-- wrapper -->
            </div><!-- /container -->
            <nav class="outer-nav left vertical">
                <a href="#" class="icon-home">Profile</a>
                <a href="#" class="icon-news">Experience</a>
                <a href="#" class="icon-image">Works</a>
                <a href="#" class="icon-star">Powers</a>
            </nav>
        </div><!-- /perspective -->
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/menu.js' %}"></script>
    </body>
</html>